@import "normalize";

$fancy_font: 'Open Sans Condensed', sans-serif;;
$font: 'Rajdhani', sans-serif;
$whitish: #FDFFF6;
$light_grey: #C2CEC9;
$dark_grey: #495055;
$pink: #FF42B8;

.container {
  width: 100%;
  height: 100%;
//  background-color: $light_grey;
}

.content {
  //text-align: center;
  width: 100px;
  margin: 40px auto;
}

.header {
  position: absolute;
  background-color: $dark-grey;
  width: 100%;
  height: 70px;
  color: $whitish;
  @media only screen and (min-width: 321px) and (max-width: 720px) {
    height: 120px;
  }
}

//h1#kim {
//  background-image: "image/portrait.png";
//  width: 100%;
//  border-radius: 100%;
//  margin-left: -9999px;
//}

.name {
  float: left;
  text-transform: uppercase;
  font-family: $fancy_font;
  font-size: 45px;
  margin-left: 20px;
  @media only screen and (min-width: 321px) and (max-width: 720px) {
    margin-top:10px;
    text-align: center;
    float: none;
    margin: 0 auto;
  }
}

.nav-bar {
  float: right;
  text-transform: lowercase;
  font-family: $fancy_font;
  font-size: x-large;
  margin-right: 20px;
}

.clearfix {
  clear: both;
}

li, a {
  text-decoration: none;
  color: $whitish;
  @media only screen and (min-width: 321px) and (max-width: 720px) {
    text-align: center;
    float: none;
  }
  @media only screen and (max-width: 721px) {
    display: inline-block;
    padding: 6px;
    text-align: center;
  }
  @media only screen and (min-width: 720px) {
    font-size: x-large;
    display: inline-block;
    padding-right: 15px;
  }
}

a:hover {
  color: $pink;
} 

.footer {
  background-color: $dark-grey;
  width: 100%;
  height: 70px;
  color: $whitish;
  font-family: $font;
  float: right;
}

footer img {
  border-radius: 100%;
  width: 80px;
  text-align: center;
}


